.footerback{
     background-color:#0071ce21;
     width:100%;
}
.footer-text{
     font-size: 13px;
     font-family: 'Roboto ', sans-serif;
     font-weight: 600;
 }
 
 .footer-link{
     text-decoration: none;
     color: #0f1419;
     font-size: 15px;
     font-family: 'Roboto ', sans-serif;
     font-weight: 400;
     margin-bottom: 10px;
 }
 .footer-link:hover{
     text-decoration: none;
     color: #0071CE;
     
 }
 
 .footer-menu-title{
     font-size: 18px;
     color: #0f1419;
     font-family: 'Roboto ', sans-serif;
     font-weight: 600;
 }
 .footer_end{
     background-color: #0071CE;
 }
 .footer_socialD a{
     color :#0071CE;
 }