  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {

      .dannBrand{
          display: none;}

/* check */  
      .main-btn{
        padding: 0 20px; }
   
  } 

    /* On smaller screens, where width is less than 800px, change the style of the sidebar (less padding and a smaller font size) */
    @media screen and (max-width: 800px) {
        .dannBrand{
            display: none;       }
       

            /* check */  
      .main-btn{
        padding: 0 20px; }

                }            