.nav-logo{
     width: 180px;
     height: 40px;
 }
 .cart-btn:hover{
     padding: 5px 15px 5px 15px;
     color: #FFFFFF;
     border-radius: 20px !important;
     border:0.5px solid #0071CE;
     background: #0071CE !important;
     text-decoration: none;
 }
 .cart-btn{
     padding: 5px 15px 5px 15px;
     color: #0071CE;
     border-radius: 20px !important;
     border:0.5px solid #0071CE;
     background: #FFFFFF !important;
     text-decoration: none;
 }
 .navbar { 
     font-size: 16px;
     font-family: 'Roboto ', sans-serif;
     font-weight: 400;
     background-color: #ffffff !important;
     box-shadow: 0 0 8px 0 rgba(0, 113, 206, 0.1)
 }

 .TopSectionDown{
      margin-bottom: 80px;
 }