 /* The sidebar menu */
 .rightbar {

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 33.33%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #dcecf6; 
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-left: 0px;
    padding-top:80px;
    padding-bottom:80px;
    border-left: 1px solid #e4e4e4; 
    box-shadow: 3px;
  }
  
  /* The navigation menu links */
  .rightbar a {
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .rightbar h4 {
    font-size: 16px;
    color:#0f1419;
      display: inline;
      padding-left: 0px;
      padding-right: 0px;
  }
  .rightbar h5 {
    font-size: 12px;
    color:#0f1419;
      display: inline;
  }
  
  /* When you mouse over the navigation links, change their color */
  .rightbar a:hover {

    background-color: #d6d6d644;

    
  }

 .rightbar img {
width: 48px;
height: 48px; 
}
  


  .rightbarDown{
    margin-left:25px;
    margin-right: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ffffffe1;
    padding-top: 20px;
    padding-bottom: 20px;
}
  .rightbarDown h4{    
}

.rightbartop {
    margin-left:25px;
    margin-right: 50px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: #ffffffe1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rightbarbutton {
    background-color: #0071ce;
    margin-top: 10px;
    padding-left: 15px;
    

}
.rightbarbutton:hover {
    background-color: #0071cebb;
    color: #0f1419;
    border: 2px solid #0071ce;
}